/* custom-gaia.css */
/* @theme custom-gaia */

@import 'gaia';

section {
  /* Override default background */
  background: #fff;
}

footer {
  /* Unset default placing inherited from the built-in theme */
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;

  /* Place to right-bottom */
  right: 20px;
  bottom: 20px;
}
